{% extends "_base.html" %}
{% block title %}{{ user.name }}{% endblock %}
{% block content %}
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
        <h1>
            {{ user.name }}
            <img src="{{ gravatar_url }}" alt="{{ user.name }}" class="gravatar">
        </h1>
        </section>
        <section class="stats">
            {% include 'shared/_stats.html' %}
        </section>
    </aside>
    <div class="col-md-8">
        {% if current_user.is_authenticated %}
            {% include 'user/_follow_form.html' %}
        {% endif %}
        {% if microposts %}
          <h3>Microposts ({{ user.micropost_count() }})</h3>
          {{ pagination.info }}
          {{ pagination.links }}
          <ol class="microposts">
            {% for micropost in microposts %}
                {% include 'micropost/_micropost.html' %}
            {% endfor %}
          </ol>
          {{ pagination.links }}
        {% endif %}
      </div>
</div>
{% endblock content %}